@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: #000 url("./assets/background.jpg") no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button,
textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  padding: 0;
  margin: 0;
  width: 400px;
}

.content {
  background: #fff;
  width: 100%;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

.content > p {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
}
.content label {
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  width: 100%;
}

.content form textarea {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0 15px;
  font-size: 16px;
}

.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #e74c3c;
  color: #fff;
  cursor: pointer;
}
.content button.btn:hover {
  background: #c0392b;
}

label span {
  color: #999;
  font-size: 12px;
  font-style: italic;
}

.content form .inputIcon {
  display: flex;
}

.content form .inputIcon #icon {
  background: #bdc3c7;
  border: 0;
  border-radius: 2px 0 0 2px;
  color: #ddd;
  height: 45px;
  width: 45px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content form .inputIcon input {
  border-left: 0;
  border-radius: 0 2px 2px 0;
}
